body{
  background-color: #caece1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.fas{
  color:red;
}

.header{
  position: fixed;
  grid-column: 1/5;
  width: 100%;
  background: white;
  height: 70px;
  color:  rgb(46, 46, 49) ;;
   z-index: 1;
}

.header>P{
  font-size: 20px;
  margin-left: 30px;
  margin-top: 20px;
}

.headerbtn{
  float: right;
  margin-top:-38px;
  width: 50px;
  color:  rgb(46, 47, 48) ;
  margin-right: 20px;
  background: white;
  height: 20px;
  border: 1px solid rgb(165, 166, 170) ;
  border-radius: 2px;
}
 a{
   text-decoration: none;
   color: rgb(46, 47, 48)  ;
 }


.banner{
  grid-column: 1/5;
  margin-top: 63px;
  padding: 5%; 
  font-size: 20px;
  background-image: url("assets/19742.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.bn1>p, .bn1>h2{
  margin: 25px auto 25px auto;
}
.bn1>button{
  width: 120px;
  height: 40px;
  color:white;
  background-color: rgb(18, 104, 47);
  border: none;
  border-radius: 3px;
  font-size: 20px;
  margin-top: 40px;
}
.bn2{
  display: none;
}

.bn1>i{
  display: block;
  float: left;
  margin-right: 10px;
  padding-left: 3px;
  height: 70px;
}


.ft3>img{
  width: 30px;
  margin-left: 12px;
}

.bn1>p{
  display: block;
  height: 70px;
}

.main{
  grid-column: 1/5;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  padding: 0;
  padding-top: 30px;
}

.mn1, .mn2, .mn3, .mn4, .mn5, .mn6, .mn7{
   grid-column: 1/9;   
}

.mn1, .mn6, .mn7{
  width: 100%;
}

.mn1>h2{
  width:80%;
  margin: 2% auto  2% auto;
  text-align: center;
}

.mn2, .mn3, .mn4, .mn5{
  background-color: white;
  width: 85%;
  margin: 3% auto 3% auto;
  padding: 3%;
  border-radius: 5px;
  box-shadow: -2px 2px 5px 0px rgb(121, 119, 119);
}

.mn6, .mn7{
  display: grid;
}

.mn7{
  width: 100%;
  padding: 5% 0 5% 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
}



.mn7>button{
  width: 120px;
  height: 40px;
  color:white;
  background-color: rgb(18, 104, 47);
  border: none;
  border-radius: 3px;
  grid-column: 1/4;
  display: block;
  margin: 10px auto 10px auto;
  font-size: medium;
}

.mn7>img{
  display: block;
  width: 30%;
  grid-column: 1/4;
  margin: 10px auto 10px auto;

}

.mn7>h2{
  grid-column: 1/4;
  width: 65%;
  margin: 10px auto 10px auto;
  padding: 5%;
  border-bottom: 2px black;
}

.mn6{
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: white;
  width: 100%;
  padding: 4% 0 4% 0;
  background-image: url("assets/19742.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.mn61, .mn62, .mn63, .mn64{
  grid-column: 1/5;
  width:30%;
  margin: 0 auto 0 auto ;
  text-align: center;
 
}

.red {
  color: rgb(242, 46, 82);
  font-size: 50px;
  padding: 0;
  margin: 0;
}

.org{
  color: rgb(226, 184, 94);
  font-size: 50px;
  padding: 0;
  margin: 0;
}

.grn{
  color: rgb(55, 82, 18);
  font-size: 50px;
  padding: 0;
  margin: 0;
}
.grn1{
  color: rgb(14, 128, 33);
  font-size: 50px;
  padding: 0;
  margin: 0;
}

.footer{
  width: 100%;
  grid-column: 1/5;
  background: linear-gradient(to top right, rgb(61, 49, 32), rgb(73, 51, 28), rgb(4, 90, 36));
  margin: 0;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.ft1{
   grid-column: 1/4;
   width:70%;
   margin: 5px auto 5px auto;
}

.ft2{
  grid-column: 4/7;
  width: 70%;
  margin: 5px auto 5px auto;
}

.ft3, .ft4{
  grid-column: 1/7;
  width: 84%;
  margin: 5px auto 5px auto; 
}

.ft4{
  text-align: center;
}

img{
  width: 12%;
}

ul{
  margin: 0;
  padding: 0;
  text-decoration: none; 
}

li{
  list-style: none;
  margin: 20px 2px 20px 2px;
}